.container {
  width: 100%;
}

.container > .row {
  width: 100rem;
  margin: 0 calc(50% - 50rem);
}

.container > .row-small {
  width: 60rem;
  margin: 0 calc(50% - 30rem);
}

@media screen and (max-width: 1100px) {
  .container > .row {
    width: 80rem;
    margin: 0 calc(50% - 40rem);
  }
}

@media screen and (max-width: 900px) {
  .container > .row {
    width: 60rem;
    margin: 0 calc(50% - 30rem);
  }
}

@media screen and (max-width: 600px) {
  .container > .row,
  .container > .row-small {
    width: 100%;
    margin: 0;
  }
}
