.btn {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.btn-submit {
  padding: 1em 2.2em;
}
