.progress {
  display: flex;
  flex-direction: column;
}
.progress progress {
  width: 100%;
}
.progress label {
  text-align: left;
}

.progress__description {
  display: flex;
  justify-content: space-between;
}

.progress__bar-container {
  position: relative;

  height: 8px;
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 10px;
  overflow: hidden;
}
.progress__bar {
  content: '';
  display: block;
  position: absolute;
  left: 0;

  height: 100%;
  background-color: #31a9f3;
}

@keyframes loading-90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes loading-86 {
  0% {
    width: 0%;
  }
  100% {
    width: 86%;
  }
}

@keyframes loading-50 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
